

html,
body {
  width: auto;
  height: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

