body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    color: aliceblue;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
html,
body {
  width: auto;
  height: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

